<a href="https://colab.research.google.com/github/poojasaxena/pandas_data_wrangling/blob/master/Join_combine_reshape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hierarchical Indexing
* it enable you to have multiple index levels on an axis.
* Somewhat abstractly, it provides a way for you to work with higher dimensionanal data in a lower dimensional form.

In [1]:
import pandas as pd
import numpy as np

## Series dataset

In [3]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a','b','b','c','c','d','d'],
                       [1,2,3,1,3,1,2,2,3]])
data

a  1   -1.306023
   2   -0.103232
   3   -1.225263
b  1    2.681967
   3    0.506303
c  1   -0.866344
   2    1.732973
d  2    0.638223
   3   -0.115795
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

## partial Indexing

In [12]:
data['b']

1    2.681967
3    0.506303
dtype: float64

In [14]:
data[['a','b']]

a  1   -1.306023
   2   -0.103232
   3   -1.225263
b  1    2.681967
   3    0.506303
dtype: float64

In [15]:
data.loc[['b','d']]

b  1    2.681967
   3    0.506303
d  2    0.638223
   3   -0.115795
dtype: float64

In [16]:
data.iloc[[1,2]]

a  2   -0.103232
   3   -1.225263
dtype: float64

### Selection from an inner level

In [17]:
## Selection
data.loc[:,2]

a   -0.103232
c    1.732973
d    0.638223
dtype: float64

In [20]:
## did not work, complain of 'Too many indexers'
data.iloc[:, 2]

IndexingError: ignored

### reshaping data into dataframe

In [23]:
data

a  1   -1.306023
   2   -0.103232
   3   -1.225263
b  1    2.681967
   3    0.506303
c  1   -0.866344
   2    1.732973
d  2    0.638223
   3   -0.115795
dtype: float64

In [21]:
data.unstack()

          1         2         3
a -1.306023 -0.103232 -1.225263
b  2.681967       NaN  0.506303
c -0.866344  1.732973       NaN
d       NaN  0.638223 -0.115795

In [24]:
data.unstack().stack()

a  1   -1.306023
   2   -0.103232
   3   -1.225263
b  1    2.681967
   3    0.506303
c  1   -0.866344
   2    1.732973
d  2    0.638223
   3   -0.115795
dtype: float64

## Hierachical indexing in *dataframe*

In [26]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colorado'], 
                              ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [27]:
frame.index.names = ['key1','key2']
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [28]:
frame.columns.names = ['state','color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [31]:
  frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### Reordening/Sorting Levels

In [37]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [33]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [42]:
## sorts the data using only the values in a single level.
## When swaping levels, its not uncommon to also use `sort_index` so that the result is lexicographically sorted
frame.sort_index(level=1) # level refer to row levels, here its only 2 ['key1','key2']

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [45]:
## Swapping of index's and sorting of the numerical index
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### Summary statistics by Level
* we can aggregate on level by a particular axis 
* We can aggregate by level on either the rows or columns

In [47]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [49]:
frame.sum(level='key1') #key2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key1
a         3   5        7
b        15  17       19

In [55]:
frame.sum(level='key2', axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [54]:
frame.sum(level='color', axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### Indexing with a Daraftame's Column

In [57]:
frame=pd.DataFrame({'a':range(7), 'b':range(7,0, -1),
                    'c':['one','one','one','two','two','two','two'],
                    'd':[0,1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [58]:
frame2 =  frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [63]:
frame3=frame2.swaplevel('c','d')
frame3

       a  b
d c
0 one  0  7
1 one  1  6
2 one  2  5
0 two  3  4
1 two  4  3
2 two  5  2
3 two  6  1

In [66]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1