<a href="https://colab.research.google.com/github/poojasaxena/pandas_data_wrangling/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hierarchical Indexing
* it enable you to have multiple index levels on an axis.
* Somewhat abstractly, it provides a way for you to work with higher dimensionanal data in a lower dimensional form.

In [1]:
import pandas as pd
import numpy as np

## Series dataset

In [2]:
data = pd.Series(np.random.randn(9),
                index=[['a','a','a','b','b','c','c','d','d'],
                       [1,2,3,1,3,1,2,2,3]])
data

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

## partial Indexing

In [4]:
data['b']

1   -0.602268
3   -0.160011
dtype: float64

In [5]:
data[['a','b']]

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
dtype: float64

In [6]:
data.loc[['b','d']]

b  1   -0.602268
   3   -0.160011
d  2   -0.563902
   3    0.419764
dtype: float64

In [7]:
data.iloc[[1,2]]

a  2   -1.050339
   3    0.736219
dtype: float64

### Selection from an inner level

In [8]:
## Selection
data.loc[:,2]

a   -1.050339
c    0.134694
d   -0.563902
dtype: float64

In [9]:
## did not work, complain of 'Too many indexers'
data.iloc[:, 2]

IndexingError: ignored

### reshaping data into dataframe

In [10]:
data

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

In [11]:
data.unstack()

          1         2         3
a -0.023317 -1.050339  0.736219
b -0.602268       NaN -0.160011
c  1.833433  0.134694       NaN
d       NaN -0.563902  0.419764

In [12]:
data.unstack().stack()

a  1   -0.023317
   2   -1.050339
   3    0.736219
b  1   -0.602268
   3   -0.160011
c  1    1.833433
   2    0.134694
d  2   -0.563902
   3    0.419764
dtype: float64

## Hierachical indexing in *dataframe*

In [13]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),
                     index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colorado'], 
                              ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [14]:
frame.index.names = ['key1','key2']
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [15]:
frame.columns.names = ['state','color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [16]:
  frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### Reordening/Sorting Levels

In [17]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [18]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [19]:
## sorts the data using only the values in a single level.
## When swaping levels, its not uncommon to also use `sort_index` so that the result is lexicographically sorted
frame.sort_index(level=1) # level refer to row levels, here its only 2 ['key1','key2']

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [20]:
## Swapping of index's and sorting of the numerical index
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### Summary statistics by Level
* we can aggregate on level by a particular axis 
* We can aggregate by level on either the rows or columns

In [21]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [22]:
frame.sum(level='key1') #key2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key1
a         3   5        7
b        15  17       19

In [23]:
frame.sum(level='key2', axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [24]:
frame.sum(level='color', axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### Indexing with a Daraftame's Column

In [25]:
frame=pd.DataFrame({'a':range(7), 'b':range(7,0, -1),
                    'c':['one','one','one','two','two','two','two'],
                    'd':[0,1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [26]:
frame2 =  frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [27]:
frame3=frame2.swaplevel('c','d')
frame3

       a  b
d c
0 one  0  7
1 one  1  6
2 one  2  5
0 two  3  4
1 two  4  3
2 two  5  2
3 two  6  1

In [28]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# Combine
Data contained in pandas objects can be combined together in a number of ways:
* **pandas.merge**: connects rows in DataFrames based on one or more keys.
* **pandas.conca**t: concatenates or 'stacks' together objects along an axis
* **combine_first**: instance method enables splicing together oberlapping data to fill in missing values in one object with values from another

#### merge
* '**inner**' : Use only the key combinations observed in both tables (intersction)
* '**left**': Use all key combinations found in the left table
* '**right**': Use all key combinations found in the right table
* '**outer**': Use all key combinations observed in both tables together (Union)

In [29]:
df1= pd.DataFrame({'key':['b','b','a','c','a','a','b'],
                   'data1':range(7)})
df2 = pd.DataFrame({'key':['a','b','d'],
                    'data2':range(3)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [30]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [31]:
## by default, 'inner' join is performed, hence key:['c','d'] from df2 is missing
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [32]:
pd.merge(df1, df2, on='key', how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

### Indexing with Dataframe's column (different names)

In [33]:
df3 = pd.DataFrame({'lkey':['b','b', 'a','c','a','a','b'],
                   'data1':range(7)})
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [34]:
df4= pd.DataFrame({'rkey':['a','b','d'],
                   'data2':range(3)})
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [35]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [36]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

### Many to many merge

In [49]:
[range(8)]

[range(0, 8)]

In [61]:
left = pd.DataFrame({'account_no': [140,168,200],
                     'company': ['porsche','tafel','honda'],
                     'material': ["tape 20.30","hidh adhesive 30","low emmission tapg"]})
right = pd.DataFrame({'sale': [140,140, 168,168, 200,200, 200, 800],
                     'company': ['porshe','porshe','tafel','tafel','honda', 'honda','honda','ibm'],
                     'price': range(100, 900, 100)})

left

   account_no  company            material
0         140  porsche          tape 20.30
1         168    tafel    hidh adhesive 30
2         200    honda  low emmission tapg

In [68]:
right

   sale company  price
0   140  porshe    100
1   140  porshe    200
2   168   tafel    300
3   168   tafel    400
4   200   honda    500
5   200   honda    600
6   200   honda    700
7   800     ibm    800

In [80]:
pd.merge(left, right, left_on='account_no', right_on='sale', how='outer', indicator=True)

   account_no company_x            material  sale company_y  price      _merge
0       140.0   porsche          tape 20.30   140    porshe    100        both
1       140.0   porsche          tape 20.30   140    porshe    200        both
2       168.0     tafel    hidh adhesive 30   168     tafel    300        both
3       168.0     tafel    hidh adhesive 30   168     tafel    400        both
4       200.0     honda  low emmission tapg   200     honda    500        both
5       200.0     honda  low emmission tapg   200     honda    600        both
6       200.0     honda  low emmission tapg   200     honda    700        both
7         NaN       NaN                 NaN   800       ibm    800  right_only

### Overlapping Column names

In [78]:
pd.merge(left, right, on='company', suffixes=('crm','sale'), indicator=True)

   account_no company            material  sale  price _merge
0         168   tafel    hidh adhesive 30   168    300   both
1         168   tafel    hidh adhesive 30   168    400   both
2         200   honda  low emmission tapg   200    500   both
3         200   honda  low emmission tapg   200    600   both
4         200   honda  low emmission tapg   200    700   both

In [76]:
left

   account_no  company            material
0         140  porsche          tape 20.30
1         168    tafel    hidh adhesive 30
2         200    honda  low emmission tapg

In [73]:
right

   sale company  price
0   140  porshe    100
1   140  porshe    200
2   168   tafel    300
3   168   tafel    400
4   200   honda    500
5   200   honda    600
6   200   honda    700
7   800     ibm    800


### Merging on Index

In [85]:
left = pd.DataFrame({'key':['a','b','a','a','b','c'],
                     'value': range(6)})
right = pd.DataFrame({"group_val":[3.5,7]},
                     index=['a','b'])
left

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [86]:
right

   group_val
a        3.5
b        7.0

In [90]:
pd.merge(left, right, left_on='key', right_index=True, indicator=True, how='outer')

  key  value  group_val     _merge
0   a      0        3.5       both
2   a      2        3.5       both
3   a      3        3.5       both
1   b      1        7.0       both
4   b      4        7.0       both
5   c      5        NaN  left_only

### merging on Index | Hierarchically indexed data

In [94]:
left = pd.DataFrame({'key1':['Ohio','Ohio','Ohio','Nevada','Nevada'],
                     'key2':[2000, 2001, 2002, 2001, 2002],
                     'data': np.arange(5)})
right = pd.DataFrame(np.arange(12).reshape((6,2)),
                     index=[['Nevada','Nevada','Ohio','Ohio','Ohio','Ohio'],
                            [2001, 2000, 2000, 2000, 2001, 2002]],
                     columns= ['event1','event2']
                     )
left

     key1  key2  data
0    Ohio  2000     0
1    Ohio  2001     1
2    Ohio  2002     2
3  Nevada  2001     3
4  Nevada  2002     4

In [95]:
right

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [97]:
pd.merge(left, right, left_on=['key1','key2'], right_index=True, indicator=True, how='outer')

     key1  key2  data  event1  event2      _merge
0    Ohio  2000   0.0     4.0     5.0        both
0    Ohio  2000   0.0     6.0     7.0        both
1    Ohio  2001   1.0     8.0     9.0        both
2    Ohio  2002   2.0    10.0    11.0        both
3  Nevada  2001   3.0     0.0     1.0        both
4  Nevada  2002   4.0     NaN     NaN   left_only
4  Nevada  2000   NaN     2.0     3.0  right_only

In [98]:
left

     key1  key2  data
0    Ohio  2000     0
1    Ohio  2001     1
2    Ohio  2002     2
3  Nevada  2001     3
4  Nevada  2002     4